<!DOCTYPE html>

<html>
  <head>
    <title>GROOPS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  </head>

  <head>
    <body>
      <div id="om"></div>

      <script src="/js/react.min.js"></script>
      <script src="/js/goog/base.js"></script> <!-- optimizations none -->
      <script src="/js/groops.js"></script>
      <script type="text/javascript">goog.require("groops.app");</script> <!-- optimizations none -->

    </body>
</html>
